.list-group{
    position: relative;
}

.list-group-item{
    left: 0px;
    transform: translate(0px,0px);
    transition: transform 1s ease;
}

    .item-content{
        overflow: hidden;
        height: 0px;
        margin: 0;
        transition: height 1s;
    }

.list-group-item.selected > .item-content{
    /* height: 100px; */
}

.list-group-item.selected{
    /* left:20px; */
    transform: translate(20px,0);
}

/* HACK:
* {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
} */

/* Promotes element to layer */
.moving-element {
    will-change: transform;
}